<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous"/>
</head>
<body>
<div class="container">
    <h1>Setup authenticator app</h1>
    <p>
        Authenticator apps like Google Authenticator generate one-time passwords as a second factor for verifying your
        identity when prompted during the sign-in process.
    </p>
    <p>
        Use an authenticator app to scan the QR code.
    </p>

    <img src="{{qrCode}}">

    <br>
    <br>

    Having trouble scanning? You can utilize the <a
        href="javascript:document.getElementById('setup-key').style.display='block';">setup
    key</a> to manually set up your authenticator app.
    <br>

    <div id="setup-key" style="display: none" class="alert alert-light" role="alert">
        <p>
            Your 2FA Secret
        </p>
        <pre><code>{{secret}}</code></pre>
    </div>
    <br>
    <p>
        Verify the code from the app
    </p>
    {{#message}}
        <div class="alert alert-danger" role="alert">{{message}}</div>
    {{/message}}

    <form action="/enable-two-factor" method="post">
        <label for="code" class="sr-only">Authentication Code:</label>
        <input type="text" id="code" name="code" class="form-control" placeholder="XXXXXX" required pattern="[0-9]+">
        <!--  This will be automatically made available by Spring Security -->
        {{#_csrf}}
            <input type="hidden" name="_csrf" value="{{_csrf.token}}"/>
        {{/_csrf}}
        <br>
        <button type="submit" class="btn btn-lg btn-primary btn-block">Verify</button>
    </form>
</div>
</body>
</html>